<a href="https://colab.research.google.com/github/RD-India/bikesharing/blob/main/BikeSharing_handling_outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *** Step 1. Import modules***

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
import warnings
warnings.filterwarnings('ignore')

# ** Step 2. Reading Dataset and Understanding Data**

In [40]:
#Read the csv file using pandas
import os
cwd = os.getcwd() # Get the current working directory (cwd)
files = os.listdir(cwd)
print("Files in %r: %s" % (cwd, files))
import csv
with open('eday.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)
df = pd.read_csv('eday.csv')

Files in '/content': ['.config', 'eday.csv', 'sample_data']
['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']
['1', '01-01-2018', '1', '0', '1', '0', '1', '1', '2', '14.110847', '18.18125', '80.5833', '10.749882', '331', '654', '985']
['2', '02-01-2018', '1', '0', '1', '0', '2', '1', '2', '14.902598', '17.68695', '69.6087', '16.652113', '131', '670', '801']
['3', '03-01-2018', '1', '0', '1', '0', '3', '1', '1', '8.050924', '9.47025', '43.7273', '16.636703', '120', '1229', '1349']
['4', '04-01-2018', '1', '0', '1', '0', '4', '1', '1', '8.2', '10.6061', '59.0435', '10.739832', '108', '1454', '1562']
['5', '05-01-2018', '1', '0', '1', '0', '5', '1', '1', '9.305237', '11.4635', '43.6957', '12.5223', '82', '1518', '1600']
['6', '06-01-2018', '1', '0', '1', '0', '6', '0', '1', '8.378268', '11.66045', '51.8261', '6.0008684', '88', '1518', '1606']
['7', '07-01-2018', '1', '0', '1', '0', '0', '0', '2', '8.057402', '10.44195', '49.8696', '11.304642', '148', '1362', '1510']
['8', '08-01-2018', '1', '0', '1', '0', '1', '1', '2', '6.765', '8.1127', '53.5833', '17.875868', '68', '891', '959']
['9', '09-01-2018', '1', '0', '1', '0', '2', '1', '1', '5.671653', '5.80875', '43.4167', '24.25065', '54', '768', '822']
['10', '10-01-2018', '1', '0', '1', '0', '3', '1', '1', '6.184153', '7.5444', '48.2917', '14.958889', '41', '1280', '1321']
['11', '11-01-2018', '1', '0', '1', '0', '4', '1', '2', '6.932731', '9.5732', '68.6364', '8.182844', '43', '1220', '1263']
['12', '12-01-2018', '1', '0', '1', '0', '5', '1', '1', '7.081807', '8.02365', '59.9545', '20.410009', '25', '1137', '1162']
['13', '13-01-2018', '1', '0', '1', '0', '6', '0', '1', '6.765', '7.54415', '47.0417', '20.167', '38', '1368', '1406']
['14', '14-01-2018', '1', '0', '1', '0', '0', '0', '1', '6.59567', '9.42065', '53.7826', '8.478716', '54', '1367', '1421']
['15', '15-01-2018', '1', '0', '1', '0', '1', '1', '2', '9.566653', '12.4056', '49.875', '10.583521', '222', '1026', '1248']
['16', '16-01-2018', '1', '0', '1', '0', '2', '1', '1', '9.498347', '11.71085', '48.375', '12.625011', '251', '953', '1204']
['17', '17-01-2018', '1', '0', '1', '1', '3', '0', '2', '7.209153', '8.83855', '53.75', '12.999139', '117', '883', '1000']
['18', '18-01-2018', '1', '0', '1', '0', '4', '1', '2', '8.883347', '11.61665', '86.1667', '9.833925', '9', '674', '683']
['19', '19-01-2018', '1', '0', '1', '0', '5', '1', '2', '11.979134', '14.9211', '74.1739', '13.957239', '78', '1572', '1650']
['20', '20-01-2018', '1', '0', '1', '0', '6', '0', '2', '10.728347', '12.7525', '53.8333', '13.125568', '83', '1844', '1927']
['21', '21-01-2018', '1', '0', '1', '0', '0', '0', '1', '7.2775', '7.89165', '45.7083', '23.667214', '75', '1468', '1543']
['22', '22-01-2018', '1', '0', '1', '0', '1', '1', '1', '2.4243464', '3.95348', '40', '11.52199', '93', '888', '981']
['23', '23-01-2018', '1', '0', '1', '0', '2', '1', '1', '3.9573897', '4.941955', '43.6522', '16.5222', '150', '836', '986']
['24', '24-01-2018', '1', '0', '1', '0', '3', '1', '1', '3.9930433', '5.8965', '49.1739', '10.60811', '86', '1330', '1416']
['25', '25-01-2018', '1', '0', '1', '0', '4', '1', '2', '9.162598', '11.7263', '61.6957', '8.696332', '186', '1799', '1985']
['26', '26-01-2018', '1', '0', '1', '0', '5', '1', '3', '8.9175', '10.18', '86.25', '19.68795', '34', '472', '506']
['27', '27-01-2018', '1', '0', '1', '0', '6', '0', '1', '7.995', '10.985', '68.75', '7.627079', '15', '416', '431']
['28', '28-01-2018', '1', '0', '1', '0', '0', '0', '2', '8.342598', '11.16585', '79.3043', '8.2611', '38', '1129', '1167']
['29', '29-01-2018', '1', '0', '1', '0', '1', '1', '1', '8.057402', '10.6063', '65.1739', '9.739455', '123', '975', '1098']
['30', '30-01-2018', '1', '0', '1', '0', '2', '1', '1', '8.877402', '12.5161', '72.2174', '4.9568342', '140', '956', '1096']
['31', '31-01-2018', '1', '0', '1', '0', '3', '1', '2', '7.414153', '9.3125', '60.375', '12.541864', '42', '1459', '1501']
['32', '01-02-2018', '1', '0', '2', '0', '4', '1', '2', '7.879134', '11.7265', '82.9565', '3.565271', '47', '1313', '1360']
['33', '02-02-2018', '1', '0', '2', '0', '5', '1', '2', '10.66', '12.72085', '77.5417', '17.708636', '72', '1454', '1526']
['34', '03-02-2018', '1', '0', '2', '0', '6', '0', '1', '7.665237', '8.8939', '43.7826', '18.609384', '61', '1489', '1550']
['35', '04-02-2018', '1', '0', '2', '0', '0', '0', '2', '8.663464', '11.42935', '58.5217', '8.565213', '88', '1620', '1708']
['36', '05-02-2018', '1', '0', '2', '0', '1', '1', '2', '9.566653', '12.1529', '92.9167', '10.792293', '100', '905', '1005']
['37', '06-02-2018', '1', '0', '2', '0', '2', '1', '1', '11.719153', '14.58355', '56.8333', '9.5006', '354', '1269', '1623']
['38', '07-02-2018', '1', '0', '2', '0', '3', '1', '1', '11.138347', '15.1829', '73.8333', '3.0423561', '120', '1592', '1712']
['39', '08-02-2018', '1', '0', '2', '0', '4', '1', '1', '9.054153', '9.9123', '53.7917', '24.25065', '64', '1466', '1530']
['40', '09-02-2018', '1', '0', '2', '0', '5', '1', '2', '5.526103', '7.21415', '49.4783', '12.652213', '53', '1552', '1605']
['41', '10-02-2018', '1', '0', '2', '0', '6', '0', '1', '5.918268', '7.4774', '43.7391', '14.869645', '47', '1491', '1538']
['42', '11-02-2018', '1', '0', '2', '0', '0', '0', '1', '7.752731', '10.67545', '50.6364', '7.27285', '149', '1597', '1746']
['43', '12-02-2018', '1', '0', '2', '0', '1', '1', '1', '9.1225', '11.6477', '54.4167', '13.625589', '288', '1184', '1472']
['44', '13-02-2018', '1', '0', '2', '0', '2', '1', '1', '12.977402', '16.20565', '45.7391', '17.479161', '397', '1192', '1589']
['45', '14-02-2018', '1', '0', '2', '0', '3', '1', '1', '17.015', '19.9175', '37.5833', '27.999836', '208', '1705', '1913']
['46', '15-02-2018', '1', '0', '2', '0', '4', '1', '1', '10.909567', '12.7137', '31.4348', '19.522058', '140', '1675', '1815']
['47', '16-02-2018', '1', '0', '2', '0', '5', '1', '1', '13.048701', '15.81', '42.3478', '16.869997', '218', '1897', '2115']
['48', '17-02-2018', '1', '0', '2', '0', '6', '0', '1', '17.869153', '21.4329', '50.5', '15.416968', '259', '2216', '2475']
['49', '18-02-2018', '1', '0', '2', '0', '0', '0', '1', '21.388347', '25.59915', '51.6667', '17.749975', '579', '2348', '2927']
['50', '19-02-2018', '1', '0', '2', '0', '1', '1', '1', '16.365847', '19.5702', '18.7917', '34.000021', '532', '1103', '1635']
['51', '20-02-2018', '1', '0', '2', '0', '2', '1', '1', '11.693897', '13.8665', '40.7826', '14.956745', '639', '1173', '1812']
['52', '21-02-2018', '1', '0', '2', '1', '3', '0', '2', '12.436653', '14.20375', '60.5', '20.625682', '195', '912', '1107']
['53', '22-02-2018', '1', '0', '2', '0', '4', '1', '1', '7.471102', '9.30165', '57.7778', '13.110761', '74', '1376', '1450']
['54', '23-02-2018', '1', '0', '2', '0', '5', '1', '1', '9.091299', '12.28585', '42.3043', '6.305571', '139', '1778', '1917']
['55', '24-02-2018', '1', '0', '2', '0', '6', '0', '2', '12.121732', '14.45955', '69.7391', '16.783232', '100', '1707', '1807']
['56', '25-02-2018', '1', '0', '2', '0', '0', '0', '2', '14.938268', '17.52305', '71.2174', '23.218113', '120', '1341', '1461']
['57', '26-02-2018', '1', '0', '2', '0', '1', '1', '1', '11.5825', '14.1096', '53.7917', '12.500257', '424', '1545', '1969']
['58', '27-02-2018', '1', '0', '2', '0', '2', '1', '1', '14.082598', '17.55545', '68', '8.391616', '694', '1708', '2402']
['59', '28-02-2018', '1', '0', '2', '0', '3', '1', '2', '16.698193', '20.0059', '87.6364', '19.408962', '81', '1365', '1446']
['60', '01-03-2018', '1', '0', '3', '0', '4', '1', '1', '10.933347', '13.19395', '53.5', '14.500475', '137', '1714', '1851']
['61', '02-03-2018', '1', '0', '3', '0', '5', '1', '1', '13.735', '16.00355', '44.9583', '20.624811', '231', '1903', '2134']
['62', '03-03-2018', '1', '0', '3', '0', '6', '0', '1', '8.131653', '10.00665', '31.8333', '15.125518', '123', '1562', '1685']
['63', '04-03-2018', '1', '0', '3', '0', '0', '0', '2', '10.728347', '12.78395', '61.0417', '13.624182', '214', '1730', '1944']
['64', '05-03-2018', '1', '0', '3', '0', '1', '1', '2', '15.750847', '18.93895', '78.9167', '16.875357', '640', '1437', '2077']
['65', '06-03-2018', '1', '0', '3', '0', '2', '1', '2', '15.437402', '18.3126', '94.8261', '23.000229', '114', '491', '605']
['66', '07-03-2018', '1', '0', '3', '0', '3', '1', '1', '10.731299', '11.92305', '55.1304', '22.870584', '244', '1628', '1872']
['67', '08-03-2018', '1', '0', '3', '0', '4', '1', '1', '11.9925', '15.12', '42.0833', '8.08355', '316', '1817', '2133']
['68', '09-03-2018', '1', '0', '3', '0', '5', '1', '2', '12.129153', '14.3304', '77.5417', '14.75005', '191', '1700', '1891']
['69', '10-03-2018', '1', '0', '3', '0', '6', '0', '3', '15.952731', '19.2834', '0', '17.545759', '46', '577', '623']
['70', '11-03-2018', '1', '0', '3', '0', '0', '0', '2', '12.977402', '15.25', '64.9565', '15.60899', '247', '1730', '1977']
['71', '12-03-2018', '1', '0', '3', '0', '1', '1', '1', '13.495847', '16.2875', '59.4583', '14.791925', '724', '1408', '2132']
['72', '13-03-2018', '1', '0', '3', '0', '2', '1', '1', '15.758268', '19.00455', '52.7391', '18.130468', '982', '1435', '2417']
['73', '14-03-2018', '1', '0', '3', '0', '3', '1', '1', '13.333897', '16.6', '49.6957', '9.174042', '359', '1687', '2046']
['74', '15-03-2018', '1', '0', '3', '0', '4', '1', '2', '13.013031', '15.9089', '65.5652', '12.348703', '289', '1767', '2056']
['75', '16-03-2018', '1', '0', '3', '0', '5', '1', '2', '14.973897', '18.3465', '77.6522', '13.608839', '321', '1871', '2192']
['76', '17-03-2018', '1', '0', '3', '0', '6', '0', '1', '17.015', '20.51665', '60.2917', '14.041793', '424', '2320', '2744']
['77', '18-03-2018', '1', '0', '3', '0', '0', '0', '1', '22.14', '26.35045', '52.5217', '15.478139', '884', '2355', '3239']
['78', '19-03-2018', '1', '0', '3', '0', '1', '1', '1', '19.3725', '23.32625', '37.9167', '24.667189', '1424', '1693', '3117']
['79', '20-03-2018', '1', '0', '3', '0', '2', '1', '1', '13.6325', '16.2875', '47.375', '13.917307', '1047', '1424', '2471']
['80', '21-03-2018', '2', '0', '3', '0', '3', '1', '2', '17.647835', '20.48675', '73.7391', '19.348461', '401', '1676', '2077']
['81', '22-03-2018', '2', '0', '3', '0', '4', '1', '1', '18.108347', '22.0321', '62.4583', '15.12525', '460', '2243', '2703']
['82', '23-03-2018', '2', '0', '3', '0', '5', '1', '2', '14.225237', '16.89695', '83.9565', '15.695487', '203', '1918', '2121']
['83', '24-03-2018', '2', '0', '3', '0', '6', '0', '2', '11.685', '13.54165', '80.5833', '16.333729', '166', '1699', '1865']
['84', '25-03-2018', '2', '0', '3', '0', '0', '0', '1', '10.830847', '12.8156', '49.5', '15.458575', '300', '1910', '2210']
['85', '26-03-2018', '2', '0', '3', '0', '1', '1', '1', '10.899153', '12.87855', '39.4167', '14.041257', '981', '1515', '2496']
['86', '27-03-2018', '2', '0', '3', '0', '2', '1', '2', '10.374763', '12.51695', '49.3913', '12.3481', '472', '1221', '1693']
['87', '28-03-2018', '2', '0', '3', '0', '3', '1', '1', '10.838268', '12.8787', '30.2174', '14.217668', '222', '1806', '2028']
['88', '29-03-2018', '2', '0', '3', '0', '4', '1', '1', '12.4025', '14.6454', '31.4167', '15.208732', '317', '2108', '2425']
['89', '30-03-2018', '2', '0', '3', '0', '5', '1', '2', '12.3', '14.8675', '64.6667', '11.583496', '168', '1368', '1536']
['90', '31-03-2018', '2', '0', '3', '0', '6', '0', '3', '11.001653', '12.87875', '91.8333', '14.582282', '179', '1506', '1685']
['91', '01-04-2018', '2', '0', '4', '0', '0', '0', '2', '12.3', '14.1727', '68.625', '17.333436', '307', '1920', '2227']
['92', '02-04-2018', '2', '0', '4', '0', '1', '1', '2', '12.915', '15.78185', '65.375', '13.208782', '898', '1354', '2252']
['93', '03-04-2018', '2', '0', '4', '0', '2', '1', '1', '15.511653', '18.93835', '48', '12.208271', '1651', '1598', '3249']
['94', '04-04-2018', '2', '0', '4', '0', '3', '1', '1', '23.506653', '27.14645', '42.625', '25.833257', '734', '2381', '3115']
['95', '05-04-2018', '2', '0', '4', '0', '4', '1', '2', '16.980847', '19.9175', '64.2083', '26.000489', '167', '1628', '1795']
['96', '06-04-2018', '2', '0', '4', '0', '5', '1', '1', '16.024153', '19.3804', '47.0833', '17.625221', '413', '2395', '2808']
['97', '07-04-2018', '2', '0', '4', '0', '6', '0', '1', '17.9375', '21.6848', '60.2917', '10.874904', '571', '2570', '3141']
['98', '08-04-2018', '2', '0', '4', '0', '0', '0', '2', '13.769153', '16.22395', '83.625', '15.208464', '172', '1299', '1471']
['99', '09-04-2018', '2', '0', '4', '0', '1', '1', '2', '14.0425', '17.07645', '87.75', '8.916561', '879', '1576', '2455']
['100', '10-04-2018', '2', '0', '4', '0', '2', '1', '2', '17.493347', '21.33685', '85.75', '9.833389', '1188', '1707', '2895']
['101', '11-04-2018', '2', '0', '4', '0', '3', '1', '2', '24.421732', '28.26085', '71.6956', '21.739758', '855', '2493', '3348']
['102', '12-04-2018', '2', '0', '4', '0', '4', '1', '2', '20.6025', '24.6527', '73.9167', '18.416893', '257', '1777', '2034']
['103', '13-04-2018', '2', '0', '4', '0', '5', '1', '2', '16.9125', '20.86415', '81.9167', '16.791339', '209', '1953', '2162']
['104', '14-04-2018', '2', '0', '4', '0', '6', '0', '1', '19.1675', '23.1371', '54.0417', '7.4169', '529', '2738', '3267']
['105', '15-04-2018', '2', '0', '4', '1', '0', '0', '1', '18.313347', '22.09565', '67.125', '15.167125', '642', '2484', '3126']
['106', '16-04-2018', '2', '0', '4', '0', '1', '1', '3', '17.664153', '21.2746', '88.8333', '22.834136', '121', '674', '795']
['107', '17-04-2018', '2', '0', '4', '0', '2', '1', '1', '18.723347', '22.2848', '47.9583', '20.334232', '1558', '2186', '3744']
['108', '18-04-2018', '2', '0', '4', '0', '3', '1', '1', '21.0125', '25.1573', '54.25', '10.958989', '669', '2760', '3429']
['109', '19-04-2018', '2', '0', '4', '0', '4', '1', '2', '20.739153', '24.4629', '66.5833', '10.584057', '409', '2795', '3204']
['110', '20-04-2018', '2', '0', '4', '0', '5', '1', '1', '24.395', '28.2196', '61.4167', '16.208975', '613', '3331', '3944']
['111', '21-04-2018', '2', '0', '4', '0', '6', '0', '1', '18.825847', '22.6946', '40.7083', '21.792286', '745', '3444', '4189']
['112', '22-04-2018', '2', '0', '4', '0', '0', '0', '2', '13.803347', '16.0977', '72.9583', '14.707907', '177', '1506', '1683']
['113', '23-04-2018', '2', '0', '4', '0', '1', '1', '2', '18.86', '22.50605', '88.7917', '15.458575', '1462', '2574', '4036']
['114', '24-04-2018', '2', '0', '4', '0', '2', '1', '2', '23.848347', '27.58815', '81.0833', '12.875725', '1710', '2481', '4191']
['115', '25-04-2018', '2', '0', '4', '0', '3', '1', '1', '24.873347', '28.725', '77.6667', '12.417311', '773', '3300', '4073']
['116', '26-04-2018', '2', '0', '4', '0', '4', '1', '1', '25.898347', '29.70415', '72.9167', '21.8755', '678', '3722', '4400']
['117', '27-04-2018', '2', '0', '4', '0', '5', '1', '2', '25.42', '28.7571', '83.5417', '20.9174', '547', '3325', '3872']
['118', '28-04-2018', '2', '0', '4', '0', '6', '0', '2', '25.3175', '28.94645', '70.0833', '21.500836', '569', '3489', '4058']
['119', '29-04-2018', '2', '0', '4', '0', '0', '0', '1', '20.91', '24.87315', '45.7083', '16.084221', '878', '3717', '4595']
['120', '30-04-2018', '2', '0', '4', '0', '1', '1', '1', '19.3725', '23.20105', '50.3333', '15.750025', '1965', '3347', '5312']
['121', '01-05-2018', '2', '0', '5', '0', '2', '1', '2', '18.518347', '22.4102', '76.2083', '7.125718', '1138', '2213', '3351']
['122', '02-05-2018', '2', '0', '5', '0', '3', '1', '2', '22.515847', '26.64165', '73', '12.291418', '847', '3554', '4401']
['123', '03-05-2018', '2', '0', '5', '0', '4', '1', '2', '25.283347', '29.10395', '69.7083', '22.958689', '603', '3848', '4451']
['124', '04-05-2018', '2', '0', '5', '0', '5', '1', '2', '16.980847', '20.2325', '73.7083', '22.042732', '255', '2378', '2633']
['125', '05-05-2018', '2', '0', '5', '0', '6', '0', '1', '18.825847', '22.09585', '44.4167', '19.791264', '614', '3819', '4433']
['126', '06-05-2018', '2', '0', '5', '0', '0', '0', '1', '19.645847', '23.70585', '59', '15.292482', '894', '3714', '4608']
['127', '07-05-2018', '2', '0', '5', '0', '1', '1', '1', '21.32', '25.63105', '54.125', '10.75015', '1612', '3102', '4714']
['128', '08-05-2018', '2', '0', '5', '0', '2', '1', '1', '21.661653', '25.94665', '63.1667', '5.0007125', '1401', '2932', '4333']
['129', '09-05-2018', '2', '0', '5', '0', '3', '1', '1', '21.8325', '26.2623', '58.875', '11.792', '664', '3698', '4362']
['130', '10-05-2018', '2', '0', '5', '0', '4', '1', '1', '21.8325', '26.13605', '48.9167', '7.749957', '694', '4109', '4803']
['131', '11-05-2018', '2', '0', '5', '0', '5', '1', '1', '22.2425', '26.42', '63.2917', '8.083014', '550', '3632', '4182']
['132', '12-05-2018', '2', '0', '5', '0', '6', '0', '1', '21.935', '26.16815', '74.75', '12.707689', '695', '4169', '4864']
['133', '13-05-2018', '2', '0', '5', '0', '0', '0', '2', '21.0125', '24.715', '86.3333', '12.041575', '692', '3413', '4105']
['134', '14-05-2018', '2', '0', '5', '0', '1', '1', '2', '21.354153', '25.03145', '92.25', '9.04165', '902', '2507', '3409']
['135', '15-05-2018', '2', '0', '5', '0', '2', '1', '2', '23.0625', '26.8', '86.7083', '10.249593', '1582', '2971', '4553']
['136', '16-05-2018', '2', '0', '5', '0', '3', '1', '1', '23.6775', '27.5256', '78.7917', '8.500357', '773', '3185', '3958']
['137', '17-05-2018', '2', '0', '5', '0', '4', '1', '2', '23.028347', '26.92645', '83.7917', '18.582718', '678', '3445', '4123']
['138', '18-05-2018', '2', '0', '5', '0', '5', '1', '2', '22.55', '26.3579', '87', '13.499964', '536', '3319', '3855']
['139', '19-05-2018', '2', '0', '5', '0', '6', '0', '2', '21.764153', '25.5371', '82.9583', '7.250271', '735', '3840', '4575']
['140', '20-05-2018', '2', '0', '5', '0', '0', '0', '1', '22.003347', '26.4521', '71.9583', '8.375871', '909', '4008', '4917']
['141', '21-05-2018', '2', '0', '5', '0', '1', '1', '1', '24.7025', '28.59875', '62.6667', '8.08355', '2258', '3547', '5805']
['142', '22-05-2018', '2', '0', '5', '0', '2', '1', '1', '24.770847', '28.725', '74.9583', '9.916536', '1576', '3084', '4660']
['143', '23-05-2018', '2', '0', '5', '0', '3', '1', '2', '25.898347', '29.5148', '81', '15.667414', '836', '3438', '4274']
['144', '24-05-2018', '2', '0', '5', '0', '4', '1', '2', '27.06', '30.24065', '74.0833', '13.875164', '659', '3833', '4492']
['145', '25-05-2018', '2', '0', '5', '0', '5', '1', '1', '27.094153', '30.7771', '69.625', '10.333611', '740', '4238', '4978']
['146', '26-05-2018', '2', '0', '5', '0', '6', '0', '1', '29.041653', '32.7344', '67.75', '13.376014', '758', '3919', '4677']
['147', '27-05-2018', '2', '0', '5', '0', '0', '0', '1', '27.948347', '31.8504', '65.375', '16.125493', '871', '3808', '4679']
['148', '28-05-2018', '2', '0', '5', '0', '1', '1', '1', '26.889153', '30.61895', '72.9583', '15.416164', '2001', '2757', '4758']
['149', '29-05-2018', '2', '0', '5', '0', '2', '1', '1', '27.3675', '30.7775', '81.875', '14.333846', '2355', '2433', '4788']
['150', '30-05-2018', '2', '0', '5', '1', '3', '0', '1', '30.066653', '33.5546', '68.5', '8.792075', '1549', '2549', '4098']
['151', '31-05-2018', '2', '0', '5', '0', '4', '1', '1', '31.775', '36.26915', '63.6667', '7.459043', '673', '3309', '3982']
['152', '01-06-2018', '2', '0', '6', '0', '5', '1', '2', '31.330847', '36.04835', '67.7083', '13.875164', '513', '3461', '3974']
['153', '02-06-2018', '2', '0', '6', '0', '6', '0', '1', '29.315', '32.1971', '30.5', '19.583229', '736', '4232', '4968']
['154', '03-06-2018', '2', '0', '6', '0', '0', '0', '1', '25.42', '29.35665', '35.4167', '16.959107', '898', '4414', '5312']
['155', '04-06-2018', '2', '0', '6', '0', '1', '1', '1', '26.035', '29.7348', '45.625', '8.250514', '1869', '3473', '5342']
['156', '05-06-2018', '2', '0', '6', '0', '2', '1', '2', '26.581653', '30.8402', '65.25', '9.292364', '1685', '3221', '4906']
['157', '06-06-2018', '2', '0', '6', '0', '3', '1', '1', '27.811653', '31.0929', '60', '8.167032', '673', '3875', '4548']
['158', '07-06-2018', '2', '0', '6', '0', '4', '1', '1', '29.0075', '32.7975', '59.7917', '12.583136', '763', '4070', '4833']

# ***There are 16 columns and 730 rows in the provided dataset, stored in '/content', stored as eday.csv***

In [54]:
# calling head() method
# storing in new variable
df_top = df.head()

# display
df_top

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [41]:
#Inspect first few rows
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [42]:
#check the shape
df.shape

(730, 16)

In [43]:
#check dataframe for null and datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [44]:
#check the details of numerical data
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,365.500000,2.498630,0.500000,6.526027,0.028767,2.995890,0.690411,1.394521,20.319259,23.726322,62.765175,12.763620,849.249315,3658.757534,4508.006849
std,210.877136,1.110184,0.500343,3.450215,0.167266,2.000339,0.462641,0.544807,7.506729,8.150308,14.237589,5.195841,686.479875,1559.758728,1936.011647
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,2.000000,20.000000,22.000000
25%,183.250000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.811885,16.889713,52.000000,9.041650,316.250000,2502.250000,3169.750000
50%,365.500000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,20.465826,24.368225,62.625000,12.125325,717.000000,3664.500000,4548.500000
75%,547.750000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.880615,30.445775,72.989575,15.625589,1096.500000,4783.250000,5966.000000
max,730.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,3410.000000,6946.000000,8714.000000

In [52]:
#check the columns of data
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [45]:
#check the size of data
df.size

11680

In [46]:
#check the datatypes of data
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [47]:
#check the axes of data
df.axes

[RangeIndex(start=0, stop=730, step=1),
 Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
        'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
        'casual', 'registered', 'cnt'],
       dtype='object')]

In [48]:
#check the dimensions of data
df.ndim

2

In [49]:
#check the values of data
df.values

array([[1, '01-01-2018', 1, ..., 331, 654, 985],
       [2, '02-01-2018', 1, ..., 131, 670, 801],
       [3, '03-01-2018', 1, ..., 120, 1229, 1349],
       ...,
       [728, '29-12-2019', 1, ..., 159, 1182, 1341],
       [729, '30-12-2019', 1, ..., 364, 1432, 1796],
       [730, '31-12-2019', 1, ..., 439, 2290, 2729]], dtype=object)

# ***Inference- 16 columns and 730 rows in the provided dataset -'eday.csv', neither columns have null values.***

# **Step3: Cleaning Data**
# 3.1 Drop columns that are not useful for analysis
* instant is just a row instance identifier.
* dteday is removed as available date features like day,
  month and year in other columns.
  As for this analysis we will not consider day to day trend in demand for bikes.
* casual and registered variables are dropped as the total sum of both describes the target variable cnt, which leads to data leakage.

In [57]:
#Before the dropping date, let us introduce a day_old variable which indicates how old is the business
df['days_old'] = (pd.to_datetime(df['dteday'],format = '%d-%M-%Y') - pd.to_datetime('01-01-2018',format = '%d-%M-%Y')).dt.days

In [58]:
#Inspect once
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,days_old
0,1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985,0
1,2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801,1
2,3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349,2
3,4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562,3
4,5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600,4

In [60]:
# Drop instant column as it is index column which has nothing to do with target
df.drop(['instant'], axis = 1, inplace = True)
# Drop dteday which is available data features like date-month-year
df.drop(['dteday'], axis = 1, inplace = True)
# Drop casual and registered columns as sum total of both accounts cnt column
df.drop(['casual'], axis = 1, inplace = True)
df.drop(['registered'], axis = 1, inplace = True)

In [61]:
#Inspect data after dropping
df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,days_old
0,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,985,0
1,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,801,1
2,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,1349,2
3,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,1562,3
4,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,1600,4

In [62]:
#check dataframe for null and datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      730 non-null    int64
 1   yr          730 non-null    int64
 2   mnth        730 non-null    int64
 3   holiday     730 non-null    int64
 4   weekday     730 non-null    int64
 5   workingday  730 non-null    int64
 6   weathersit  730 non-null    int64
 7   temp        730 non-null    float64
 8   atemp       730 non-null    float64
 9   hum         730 non-null    float64
 10  windspeed   730 non-null    float64
 11  cnt         730 non-null    int64
 12  days_old    730 non-null    int64
dtypes: float64(4), int64(9)
memory usage: 74.3 KB

In [67]:
# Inspect frequency of unique values in a column season
df.season.value_counts()

3    188
2    184
1    180
4    178
Name: season, dtype: int64

In [69]:
# Inspect frequency of unique values in a column weathersit
df.weathersit.value_counts()

1    463
2    246
3     21
Name: weathersit, dtype: int64

In [64]:
#Inspect correlation matrix of coefficients between each pair of columns
df.corr()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,days_old
season,1.000000e+00,-3.279074e-16,8.310321e-01,-0.010868,0.004012,0.017868,0.021306,0.333361,0.342014,0.208220,-0.229607,0.404584,0.000093
yr,-3.279074e-16,1.000000e+00,-5.162656e-16,0.008195,0.000685,-0.011852,-0.050322,0.048789,0.047215,-0.112547,-0.011624,0.569728,0.998840
mnth,8.310321e-01,-5.162656e-16,1.000000e+00,0.018905,-0.004059,-0.010414,0.045613,0.219083,0.226430,0.224937,-0.208013,0.278191,0.000573
holiday,-1.086804e-02,8.195345e-03,1.890483e-02,1.000000,-0.020145,-0.257009,-0.034395,-0.028764,-0.032703,-0.015662,0.006257,-0.068764,0.007687
weekday,4.012478e-03,6.852851e-04,-4.059002e-03,-0.020145,1.000000,0.001588,0.034216,0.044876,0.037964,0.008780,-0.017230,0.036183,0.000985
workingday,1.786841e-02,-1.185197e-02,-1.041372e-02,-0.257009,0.001588,1.000000,-0.026332,0.002044,0.010657,0.053770,-0.002453,-0.027640,-0.011452
weathersit,2.130636e-02,-5.032247e-02,4.561335e-02,-0.034395,0.034216,-0.026332,1.000000,-0.119503,-0.120559,0.590277,0.039769,-0.295929,-0.051524
temp,3.333607e-01,4.878919e-02,2.190833e-01,-0.028764,0.044876,0.002044,-0.119503,1.000000,0.991696,0.128565,-0.158186,0.627044,0.049985
atemp,3.420139e-01,4.721519e-02,2.264302e-01,-0.032703,0.037964,0.010657,-0.120559,0.991696,1.000000,0.141512,-0.183876,0.630685,0.048119
hum,2.082196e-01,-1.125471e-01,2.249368e-01,-0.015662,0.008780,0.053770,0.590277,0.128565,0.141512,1.000000,-0.248506,-0.098543,-0.110477
windspeed,-2.296069e-01,-1.162435e-02,-2.080131e-01,0.006257,-0.017230,-0.002453,0.039769,-0.158186,-0.183876,-0.248506,1.000000,-0.235132,-0.010555
cnt,4.045838e-01,5.697285e-01,2.781909e-01,-0.068764,0.036183,-0.027640,-0.295929,0.627044,0.630685,-0.098543,-0.235132,1.000000,0.568037
days_old,9.272238e-05,9.988405e-01,5.725699e-04,0.007687,0.000985,-0.011452,-0.051524,0.049985,0.048119,-0.110477,-0.010555,0.568037,1.000000

# ***3.2 Handle missing values***

In [70]:
# Verification of null counts
df.isnull().sum()

season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
cnt           0
days_old      0
dtype: int64

# **Inference -no null values found**
# **3.3 Handle Outliers**

In [114]:
### Handle outliers
df.columns

AttributeError: ignored

# New Section